/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --font: 'IBM Plex mono';
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --button-color: rgba(53, 52, 48, 1);
}

:root.theme-light {
  --font: 'IBM Plex mono';
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --title-shadow-color: rgba(255, 0, 112, 1);
  --button-color: rgba(53, 52, 48, 1);
}

.page.theme_light .rec {
  visibility: hidden;
}

.page.theme_light {
  background-image: url(/images/cover-image-light.png);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --font: 'IBM Plex mono';
    --bg-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --title-color: rgba(255, 194, 230, 1);
    --title-shadow-color: rgba(255, 0, 112, 1);
  }

  .page.theme_auto .rec {
    visibility: hidden;
  }
}

/* Остальные стили */
