/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
min-inline-size: 375px;
color: var(--text-color);
font-family: var(--font);
background-color: var(--bg-color);
}
